@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class=text-secondary>Nerd Collection Inventory</h1>
    <p class="lead">Inventory system for a lot of the Nerdy stuff that I own.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class=text-secondary>Board Game Section</h2>
        <p>
            Board Games of all kinds and the expansions that come with them. 
        </p>
        <p>@Html.ActionLink("Board Games","Index","BoardGame",null, new { @class = "btn btn-success btn-large text-dark" })</p>
        <p>@Html.ActionLink("Board Game Expansions","Index","Expansion",null, new { @class = "btn btn-success btn-large text-dark" })</p>
    </div>
    <div class="col-md-4">
        <h2 class=text-secondary>RPG Books Section</h2>
        <p>All RPG books for various systems</p>
        <p>@Html.ActionLink("RPG Books", "Index", "RPGBook", null, new { @class = "btn btn-success btn-large text-dark" })</p>
    </div>
    <div class="col-md-4">
        <h2 class=text-secondary>Warhammer Section</h2>
        <p>Warhammer Armies and Models</p>
        <p>@Html.ActionLink("40k Armies", "Index", "W40kArmy", null, new { @class = "btn btn-success btn-large text-dark"})</p>
        <p>@Html.ActionLink("40k Models", "Index", "W40kModel", null, new { @class = "btn btn-success btn-large text-dark"})</p>
    </div>
</div>