@model BoardGameInventory.Models.BoardGameModels.BoardGameDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoardGameDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeToPlayMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeToPlayMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimesPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expansions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expansions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Game", "Edit", new {id = Model.GameID}) |
    @Html.ActionLink("Back to Game List", "Index")
</p>
