@model IEnumerable<BoardGameInventory.Models.BoardGameModels.BoardGameListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Game", "Create")
</p>
@if(TempData.ContainsKey("SaveResult"))
            {
                <div class="alert alert-success fade in" role="alert">
                    @ViewBag.SaveResult
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameTitle)
        </td>
        <td>
            @Html.ActionLink("Edit Game", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Game Info", "Details", new { id = item.GameID }) |
            @Html.ActionLink("Delete Game", "Delete", new { id = item.GameID })
        </td>
    </tr>
}

</table>
