@model BoardGameInventory.Models.RPGBookModels.RPGBookDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RPGBookDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RPGSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RPGSystem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Book", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to Book List", "Index")
</p>
