<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-image: url('../../Content/images/kevin-mueller-NjjONA3K0-k-unsplash.jpg');">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <h6>|</h6>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Board Games", "Index", "BoardGame")</li>     
                        <h6 class=text-black>|</h6>               
                        <li>@Html.ActionLink("Expansions", "Index", "Expansion")</li>
                        <h6 class=text-black>|</h6>
                        <li>@Html.ActionLink("RPG Books", "Index", "RPGBook")</li>
                        <h6 class=text-black>|</h6>               
                        <li>@Html.ActionLink("40k Armies", "Index", "W40kArmy")</li>
                        <h6 class=text-black>|</h6>               
                        <li>@Html.ActionLink("40k Models", "Index", "W40kModel")</li>
                        <h6 class=text-black>|</h6>               
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <h6 class=text-black>|</h6>              
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <h6 class=text-black>|</h6>              
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
